.App
{
  background-color: #325D79;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.App__InitialForm
{
  width: 600px;
}

p, h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
}

.App__InitialFormOuter
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App__Report
{
  position: absolute;
  top: 0;
  left: 100%;
  min-height: 100vh;
  display: flex;
  min-width: 500px;
  transition: transform .2s ease-in;
}

.App__Report_show
{
  transform: translateX(-100%);
}
